@{
    ViewData["Title"] = "Home Page";
}
<style>
    .nav-button {
        transition: all 0.3s ease-in-out;
        font-family: "Dosis", sans-serif;
    }

    .nav-button {
        width: fit-content;
        height: auto;
        padding: 12px;
        border-radius: 50px;
        background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
        box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 24px;
        color: white;
        font-weight: bold;
        
    }

    .nav-button:hover {
            transform: translateY(3px);
            box-shadow: none;
        }

    .nav-button:active {
            opacity: 0.5;
        }
</style>
<div class="text-center">
    <a href="/Recipes"><button class="nav-button">Go to private list</button></a>
</div>
