@page
@model LoginModel

@{

    ViewData["Title"] = "Log in";
}
<link rel="stylesheet" href="RegisterLogin.css"/>
<style>
    
    .register-btn{
        margin:auto;
    }
    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #ffffff;
        padding: 30px;
        margin: auto;
        margin-top: 3em;
        width: 450px;
        border-radius: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    }

    ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .form button {
    align-self: flex-end;
    }

    .flex-column > label {
    color: #151717;
    font-weight: 600;
    }

    .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    }

    .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
    }

    .input:focus {
    outline: none;
    }

    .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
    }

    .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    }

    .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
    }

    .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
    }

    .button-submit {
    margin: 20px 0 10px 0;
        background-color: #4caf50;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    }

    .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
    }

    .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    }

    .btn:hover {
    border: 1px solid #2d79f3;
    ;
    }

</style>



<form class="form" id="account" method="post">
    <div class=="title">
        <h2>Log into your account</h2>
    </div>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    <div class="flex-column">
        <label asp-for="Input.UserName" class="form-label">Username</label>
    </div>
    <div class="inputForm">
        <input asp-for="Input.UserName" class="input" autocomplete="username" aria-required="true" placeholder="Enter your username" />
    </div>
    <span asp-validation-for="Input.UserName" class="text-danger"></span>

    <div class="flex-column">
        <label asp-for="Input.Password" class="form-label">Password</label>
    </div>
    <div class="inputForm">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="-64 0 512 512" height="20"><path d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"></path><path d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"></path></svg>
        <input asp-for="Input.Password" class="input" autocomplete="current-password" aria-required="true" placeholder="Enter your password" />
    </div>
    <span asp-validation-for="Input.Password" class="text-danger"></span>

    <div class="flex-row">
        <div>
            <label asp-for="Input.RememberMe" class="form-label">
                <input asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
    </div>

    <div>
        <button id="login-submit" type="submit" class="button-submit">Log in</button>
    </div>
    <div class="register-btn">
        <p>
            Don't have an account?
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register here</a>
        </p>
    </div>
    <div class="register-btn">
        <p>
            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
        </p>
    </div>
</form>

        
   

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
