@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<style>
    .container {
        margin-left:auto;
        margin-right: auto;
        align-content: center;
    }

    .button-link {
        display: inline-block;
        padding: 3em;
        text-decoration: none;
        text-align: center;
        background-color: #4caf50;
        border: none;
        color: white;
        font-size: 15px;
        font-weight: 500;
        border-radius: 10px;
        width: fit-content;
        height: auto;
        cursor: pointer;
        margin: auto;
        margin-top: 3em;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    }
</style>
<div class="container">
<h1 style="margin: auto">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="button-link">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
</div>

